@font-face {
  font-family: 'GillSansLightItalic';
  src: font-url('GillSansLightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GillSansBold';
  src: font-url('GillSansBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansLight';
  src: font-url('GillSansLight.eot');
  src: font-url('GillSansLight.eot?#iefix') format("embedded-opentype"),
       font-url('GillSansLight.woff') format("woff"),
       font-url('GillSansLight.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
