.twitter-block {
  .tweet-actions li.visible-on-hover {
    display: none;
  }

  .media:hover .tweet-actions li {
    display: inline-block;
  }

  .tweet-actions {
    font-size: small;
  }

  .tweet-actions li:first-child {
    padding-left: 0;
  }

  .media-body p {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .twitter-block .tweet-actions li.visible-on-hover {
    display: inline-block;
    opacity: 0.2;
  }

  .twitter-block .media:hover .tweet-actions li {
    display: inline-block;
    opacity: 1;
  }
}
