p.lead {
  font-family: GillSansLightItalic, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
}

address strong {
  font-family: GillSansBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 115%;
}

blockquote {
  font-family: GillSansLightItalic, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;

  small,
  cite {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
  }
}

.alert > strong {
  font-family: GillSansBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 115%;
}

.page-header {
  border-bottom: 3px solid $ogat-purple;
  margin-top: 0;
  margin-top: 10px;

  h1 {
    margin-top: 0;
  }
}
