// Official OGAT branding colors

// #5B3393 / rgb(91,51,147)
$ogat-purple: rgb(91,51,147) !default;
// #AD99C9 / rgb(173,153,201)
$ogat-purple-secondary: mix($ogat-purple, white, 50%) !default;
// #B09C78 / rgb(176,156,119)
$ogat-gold: #B09C78 !default;

// Web colors: prefer tints and shades of brand colors
// for tints: mix with white
// for shades: mix with black

$ogat-purple-alt: mix($ogat-purple, white, 60%) !default;
