@media (max-width: 479px) {
  .visible-phone-portrait {
    display: inherit !important;
  }

  .hidden-phone-portrait {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .visible-phone-portrait {
    display: none !important;
  }

  .hidden-phone-portrait {
    display: inherit !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline-block !important;
  }
}
