$brand-primary: $ogat-purple;

$navbar-inverse-bg:                 $ogat-purple;
$navbar-inverse-link-color:         #fff;
$navbar-inverse-link-hover-bg:      $ogat-purple-alt;
$navbar-inverse-link-hover-color:   #efefef;
$navbar-inverse-link-active-bg:     $ogat-purple-alt;
$navbar-inverse-toggle-hover-bg:    mix($ogat-purple, black, 5%);
$navbar-inverse-brand-color:        #fff;
$navbar-inverse-brand-hover-color:  #efefef;
$navbar-inverse-brand-hover-bg:     $ogat-purple-alt;

$headings-font-family: GillSansBold, "Helvetica Neue", Arial, sans-serif;
