.footer {
  color: #999;
  padding: 30px;

  .copyright,
  .legal {
    font-size: 80%;
  }
}

.table-attributes tbody th {
  text-align: right;
  width: 20%;
}

td.actions {
  text-align: right;
}

// Adjust heading line-height in media items to account for GillSansBold
.media-body {
  h4 {
    line-height: 1.3;
  }
}
