@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-app-title {
    margin-left: 0;
  }
}
.navbar-brand {
  line-height: inherit;
  padding: 7px;
}

.navbar-app-title {
  @extend .navbar-brand;
  font-family: GillSansLight;
  margin-left: 0;
  padding: 10px 15px 10px 5px;
  text-transform: uppercase;

  .app-title {
    position: relative;
    top: 4px;
  }
}

#avatar {
  padding-bottom: 10px;
  padding-top: 10px;

  img {
    border-radius: 2px;
  }
}
.navbar-icon {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
  position: relative;

  .fa {
    font-size: 25px;
  }

  .badge {
    background-color: #FDB61D;
    color: $ogat-purple;
    position: absolute;
    right: 4px;
    top: 6px;
  }
}
.navbar-inverse {
  .form-control,
  .input-group-addon,
  .btn-default {
    @include form-control-focus($ogat-purple-alt);
    background-color: mix($ogat-purple, black, 80%);
    border-color: mix($ogat-purple, black, 50%);
    color: $navbar-inverse-link-color;
  }

  .btn-default:hover {
    background-color: mix($ogat-purple, white, 80%);
  }

  .navbar-app-title {
    &:hover,
    &:focus {
      background-color: transparent;
      text-shadow: 0 0 6px $navbar-inverse-link-color;
    }
  }

  .badge {
    background-color: #FDB61D;
    color: $ogat-purple;
  }
}
