$purple-gradient-color: mix($ogat-purple, black, 80%) !default;
$purple-panel-color: mix($ogat-purple, white, 20%) !default;

body.purple {
  background-color: $ogat-purple;
  background: -moz-linear-gradient(top, $ogat-purple 0%, $purple-gradient-color 100%);
  background: -webkit-linear-gradient(top, $ogat-purple 0%, $purple-gradient-color 100%);
  background: linear-gradient(to bottom, $ogat-purple 0%, $purple-gradient-color 100%);
  color: #EFEFEF;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$ogat-purple, endColorstr=$purple-gradient-color,GradientType=0 );

  .footer {
    color: #AAA;
  }

  .panel-default {
    background-color: rgba($purple-panel-color, 0.7);
    border-color: $purple-gradient-color;
    -moz-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.6);
    color: $text-color;

    .panel-heading {
      background-color: rgba($purple-gradient-color, 0.15);
    }
  }
}
