.footer {
  background-color: #f7f7f7;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 30px;
  color: #999;

  .copyright, .legal {
    font-size: 80%;
  }
}

.image-header {
  text-indent: -9999px;
  margin-top: 20px;
  margin-bottom: 20px;
} 

.container-fluid-main {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

@media (min-width: 980px) {
  .container {
    padding: 0 30px 0;
  }
  .container-main {
    border: 1px solid #bbb;

    &.container {
      min-height: 70%;
    }
  }
}

@media (max-width: 979px) {
  .footer {
    background-color: #f7f7f7;
  }
}

html, body {
  height: 100%;
}

// Adjust heading line-height in media items to account for GillSansBold
.media-body {
  h4 {
    line-height: 1.3;
  }
}

// Fix button text shadow in OGATstyle
.btn-primary {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
// Fix active state + badge text shadow
.active .badge {
  text-shadow: none;
}
